In [1]:
%cd ..

/home/ivanstefanov/Repositories/used-cars-price-prediction

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
%matplotlib inline

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
import tensorflow.keras as tf
import tensorflow.keras.layers

2023-02-06 23:58:41.330046: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-02-06 23:58:41.679544: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-02-06 23:58:41.679572: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-02-06 23:58:43.361572: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-02-06 23:58:43.361951: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-02-06 23:58:43.361992: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [7]:
from price_predictor.data_preparation.feature_engineering import add_class_feature
from price_predictor.data_preparation.pick_or_drop_features import (
    pick_by_datatypes,
    drop_anonymous_features,
    drop_categorical_features,
    drop_by_name
)
from price_predictor.evaluate import evaluate_model

In [8]:
data = pd.read_csv('data/cars.csv')
data.dropna(inplace=True)

In [9]:
df = add_class_feature(data)

df = drop_anonymous_features(df)
df = drop_by_name(df, 'model_name')
#df = drop_categorical_features(df)

In [10]:
df = pd.get_dummies(df)
df

,odometer_value,year_produced,engine_has_gas,engine_capacity,has_warranty,price_usd,is_exchangeable,number_of_photos,up_counter,duration_listed,...,drivetrain_rear,location_region_Брестская обл.,location_region_Витебская обл.,location_region_Гомельская обл.,location_region_Гродненская обл.,location_region_Минская обл.,location_region_Могилевская обл.,class_high-end,class_low-end,class_mid-end
0,190000,2010,False,2.5,False,10900.00,False,9,13,16,...,0,0,0,0,0,1,0,0,0,1
1,290000,2002,False,3.0,False,5000.00,True,12,54,83,...,0,0,0,0,0,1,0,0,0,1
2,402000,2001,False,2.5,False,2800.00,True,4,72,151,...,0,0,0,0,0,1,0,0,0,1
3,10000,1999,False,3.0,False,9999.00,True,9,42,86,...,0,0,0,0,0,1,0,0,0,1
4,280000,2001,False,2.5,False,2134.11,True,14,7,7,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,290000,2000,False,3.5,False,2750.00,True,5,85,301,...,0,0,0,0,0,1,0,0,0,1
38527,321000,2004,False,2.2,False,4800.00,True,4,20,317,...,0,1,0,0,0,0,0,0,0,1
38528,777957,2000,False,3.5,False,4300.00,False,3,63,369,...,0,0,0,0,0,1,0,0,0,1
38529,20000,2001,False,2.0,False,4000.00,True,7,156,490,...,0,1,0,0,0,0,0,0,0,1
38530,297729,2000,False,2.4,False,3200.00,True,4,73,632,...,0,0,0,0,0,1,0,0,0,1

In [11]:
features = df.drop('price_usd', axis=1)
target = df['price_usd']

In [12]:
from price_predictor.trainers.train_ensamble_model import train_random_forest

In [13]:
#rf = train_random_forest(features, target)

In [14]:
# importances = rf.feature_importances_
# std = np.std([tree.feature_importances_ for tree in rf.estimators_], axis=0)
# forest_importances = pd.Series(importances, index=features.columns)

# fig, ax = plt.subplots(figsize=(10, 6))
# forest_importances.plot.bar(yerr=std, ax=ax)
# fig.tight_layout()

In [15]:
notable_features = ['odometer_value', 'year_produced', 'engine_capacity', 
                    'drivetrain_front', 'class_high-end', 'transmission_automatic',
                    'number_of_photos', 'up_counter', 'duration_listed']

In [16]:
notable_data = df[notable_features]
notable_data

,odometer_value,year_produced,engine_capacity,drivetrain_front,class_high-end,transmission_automatic,number_of_photos,up_counter,duration_listed
0,190000,2010,2.5,0,0,1,9,13,16
1,290000,2002,3.0,0,0,1,12,54,83
2,402000,2001,2.5,0,0,1,4,72,151
3,10000,1999,3.0,0,0,0,9,42,86
4,280000,2001,2.5,0,0,1,14,7,7
...,...,...,...,...,...,...,...,...,...
38526,290000,2000,3.5,1,0,1,5,85,301
38527,321000,2004,2.2,1,0,0,4,20,317
38528,777957,2000,3.5,1,0,1,3,63,369
38529,20000,2001,2.0,1,0,0,7,156,490
38530,297729,2000,2.4,1,0,1,4,73,632

In [34]:
X_train, X_test, y_train, y_test = train_test_split(notable_data, target)

In [35]:
rf = train_random_forest(X_train, y_train)
evaluate_model(rf, X_test, y_test)

{'rmse': 2311.6564440322218,
 'mae': 1412.4369829678708,
 'r2': 0.8643390344021911}

In [31]:
model = tf.Sequential()
model.add(tf.layers.Dense(len(X_train)))
model.add(tf.layers.Dense(256, activation='relu'))
model.add(tf.layers.Dense(256, activation='relu'))
model.add(tf.layers.Dense(1, activation='linear'))

model.compile(loss='mean_absolute_error', optimizer='adam')

In [32]:
model.fit(np.asarray(X_train), np.asarray(y_train), batch_size = 128, epochs=20)

Epoch 1/20
226/226 [==============================] - 48s 203ms/step - loss: 6923.1060
Epoch 2/20
226/226 [==============================] - 52s 229ms/step - loss: 3905.3838
Epoch 3/20
226/226 [==============================] - 59s 262ms/step - loss: 3796.6389
Epoch 4/20
226/226 [==============================] - 69s 304ms/step - loss: 3771.5173
Epoch 5/20
226/226 [==============================] - 86s 381ms/step - loss: 4254.3989
Epoch 6/20
226/226 [==============================] - 82s 363ms/step - loss: 3827.9043
Epoch 7/20
226/226 [==============================] - 84s 372ms/step - loss: 3738.4731
Epoch 8/20
226/226 [==============================] - 80s 354ms/step - loss: 4311.4331
Epoch 9/20
226/226 [==============================] - 82s 363ms/step - loss: 3944.0803
Epoch 10/20
226/226 [==============================] - 79s 348ms/step - loss: 3761.2439
Epoch 11/20
226/226 [==============================] - 82s 362ms/step - loss: 3724.9763
Epoch 12/20
226/226 [==============================] - 80s 352ms/step - loss: 3695.5715
Epoch 13/20
226/226 [==============================] - 81s 358ms/step - loss: 3679.2449
Epoch 14/20
226/226 [==============================] - 82s 364ms/step - loss: 3727.4165
Epoch 15/20
226/226 [==============================] - 85s 376ms/step - loss: 3656.4705
Epoch 16/20
226/226 [==============================] - 94s 416ms/step - loss: 3709.6394
Epoch 17/20
226/226 [==============================] - 90s 400ms/step - loss: 3726.7295
Epoch 18/20
226/226 [==============================] - 91s 404ms/step - loss: 3700.9165
Epoch 19/20
226/226 [==============================] - 92s 405ms/step - loss: 3721.7312
Epoch 20/20
226/226 [==============================] - 92s 407ms/step - loss: 3662.8330

In [33]:
evaluate_model(model, X_test, y_test)

301/301 [==============================] - 16s 53ms/step

{'rmse': 5543.233263032559,
 'mae': 3714.0451438475243,
 'r2': 0.25510930747502736}

In [ ]:
# check for overfit
evaluate_model(model, X_train, y_train)