In [1]:
%cd ..

/home/ivanstefanov/Repositories/used-cars-price-prediction

In [2]:
import pandas as pd

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LassoCV, RidgeCV
from sklearn.tree import DecisionTreeRegressor

In [8]:
from price_predictor.prepare_data import get_numerical_columns_only, split_features_target, boolean_to_numerical
from price_predictor.evaluate import eval_rmse

In [16]:
data_all = pd.read_csv('data/cars.csv')

In [17]:
booleans = data_all.select_dtypes(bool).columns

In [18]:
data_bool = boolean_to_numerical(data_all, booleans)

In [21]:
data = get_numerical_columns_only(data_all)
data = pd.concat([data, data_bool], axis=1)
data

,odometer_value,year_produced,engine_capacity,price_usd,number_of_photos,up_counter,duration_listed,engine_has_gas,has_warranty,is_exchangeable,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9
0,190000,2010,2.5,10900.00,9,13,16,0,0,0,0,1,1,1,0,1,0,1,1,1
1,290000,2002,3.0,5000.00,12,54,83,0,0,1,0,1,0,0,1,1,0,0,0,1
2,402000,2001,2.5,2800.00,4,72,151,0,0,1,0,1,0,0,0,0,0,0,1,1
3,10000,1999,3.0,9999.00,9,42,86,0,0,1,1,0,0,0,0,0,0,0,0,0
4,280000,2001,2.5,2134.11,14,7,7,0,0,1,0,1,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,290000,2000,3.5,2750.00,5,85,301,0,0,1,0,1,0,0,1,1,0,0,1,1
38527,321000,2004,2.2,4800.00,4,20,317,0,0,1,0,1,0,0,1,1,0,0,1,1
38528,777957,2000,3.5,4300.00,3,63,369,0,0,0,0,1,0,0,1,1,0,0,1,1
38529,20000,2001,2.0,4000.00,7,156,490,0,0,1,0,1,0,0,0,0,0,0,0,1
38530,297729,2000,2.4,3200.00,4,73,632,0,0,1,0,0,0,0,0,0,0,0,0,1

In [22]:
data.columns

Index(['odometer_value', 'year_produced', 'engine_capacity', 'price_usd',
       'number_of_photos', 'up_counter', 'duration_listed', 'engine_has_gas',
       'has_warranty', 'is_exchangeable', 'feature_0', 'feature_1',
       'feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_6',
       'feature_7', 'feature_8', 'feature_9'],
      dtype='object')

In [23]:
data.dropna(inplace=True)

In [24]:
train_valid_data, test_data = train_test_split(data)
train_data, valid_data = train_test_split(train_valid_data, random_state=42)

In [25]:
train_features, train_target = split_features_target(train_data, 'price_usd')
valid_features, valid_target = split_features_target(valid_data, 'price_usd')
test_features, test_target = split_features_target(test_data, 'price_usd')

In [26]:
lr = LinearRegression()
lr.fit(train_features, train_target);

In [27]:
lr.score(valid_features, valid_target)

0.6744755664175786

In [28]:
lasso = LassoCV(alphas=[0.001, 0.01, 0.1, 1, 10, 100, 1000])
lasso.fit(train_features, train_target);

In [29]:
lasso.score(valid_features, valid_target)

0.674468958242094

In [30]:
ridge = RidgeCV(alphas=[0.001, 0.01, 0.1, 1, 10, 100, 1000])
ridge.fit(train_features, train_target);

In [31]:
ridge.score(valid_features, valid_target)

0.6730423407343471